body{
    background-color: #83d5e0;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
   
h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: brown;
}
    
a:link{
    color: blueviolet;
}

a:visited{
    color: darkorange;
}